<nav class="navbar" role="navigation" id="nav">
    <div class="navbar-brand ml-5 mt-5">
        <a class="title is-1" href="/">Eatery</a>
    </div>

    <div class="navbar-end mr-6">
        <a class="navbar-item" href="/recipe-maker">
            Add Recipe
        </a>
        <a class="navbar-item" href="/profile">
            Profile
        </a>
    </div>
</nav>