<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="./assets/css/styles.css">
        <title>Eatery</title>

        <%- include('../partials/header1'); %>
    </head>

    <body>
        <div class="recipe-container">
            <section class="container is-max-desktop">
                <input class="input is-medium my-4" type="text" placeholder="Search..." id="search-query"></input>
            </section>
            
            <div class="container">
                <section class="tile is-ancestor mt-1 is-justify-content-center" id="recipe-cards">
                    <div class="tile is-parent ml-3 is-4">
                        <article class="tile is-child top-recipe">
                            <div class="content">
                                <p class="title is-1 m-3">Top Post</p>
                                <p class="title is-3 m-3">Beef Casserole</p>
                                <p class="subtitle m-3">by <em>HomeCook_Mamma</em></p>
                                <span class="content m-3 level has-centered-text">
                                    This is the best beef casserole you will ever lay your eyes on.
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-vertical is-4">
                        <article class="tile is-child recipes">
                            <p class="title is-3 m-3">Holiday Ham</p>
                            <p class="subtitle m-3">by <em>ChristiesCooking</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                        <article class="tile is-child recipes">
                            <p class="title is-3 m-3">Chicken Noodle Soup</p>
                            <p class="subtitle m-3">by <em>RoyalSoupKitchen</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                        <article class="tile is-child recipes">
                            <p class="title is-3 m-3">Homecooked Pho</p>
                            <p class="subtitle m-3">by <em>LaDiDa-Cooks</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                    </div>
                    
                    <div class="tile is-parent is-vertical mr-3 is-4">
                        <article class="tile is-child recipes">
                            <p class="title m-3">Oven Pizza</p>
                            <p class="subtitle m-3">by <em>Mario-Pepperoni</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                        <article class="tile is-child recipes">
                            <p class="title m-3">15min Cookies</p>
                            <p class="subtitle m-3">by <em>CollegeChef</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                        <article class="tile is-child recipes">
                            <p class="title m-3">Finger Lickin' Good Chicken</p>
                            <p class="subtitle m-3">by <em>TheColonel</em></p>
                            <div class="content m-3 level has-centered-text">
                                I don't even understand why I do this to myself.
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>

        <script src="./assets/js/index.js"></script>
    </body>  
</html>