<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="./assets/css/styles.css">
        <title>Eartery</title>

        <%- include('../partials/header1'); %>
    </head>

    <body>
        <section class="hero is-Large" id="hero">
            <div class="hero-body" id="hero-body">
                <p class="title is-1 m-4">
                    Welcome to Eatery Recipe Book!
                </p>
                <p class="subtitle is-3 m-4">
                    Homecooked meals right from the hearts of your homes.
                </p>
                <p class="subtitle is-4 m-4 mt-5 has-centered-text">
                    We provide a blog for you to post recipes to share with others!<br>
                    A place to browse new recipes to try for a special occassion.<br>
                    A community to share and learn some new cooking tricks!<br>
                    <br>
                    Get started here.
                </p>
            </div>

            <section class="p-5" id="sign-up-form">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="First Name Last Name" id="name">
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email Address" id="email">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Username" id="username">
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Date of Birth</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Date of Birth" id="dob">
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" id="password">
                    </div>
                </div>

                <div class="control" id="sign-up-button">
                    <p class="button">
                        Sign Up
                    </p>
                </div>
            </section>
        </section>

        <script src="./assets/js/index.js"></script>
    </body>
</html>