<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="./assets/css/styles.css">
        <title>Eatery</title>

        <nav class="navbar" role="navigation" id="nav">
            <div class="navbar-brand ml-5 mt-5">
                <a class="title is-1" href="/">Eatery</a>
            </div>

            <div class="navbar-end mr-6">
                <a class="navbar-item" href="/recipe-maker">
                    Add Recipe
                </a>
                <a class="navbar-item" href="/profile">
                    Profile
                </a>
            </div>
        </nav>
    </head>

    <body>
        <section class="columns is-justify-content-center" id="profile-container">
            <div class="column is-one-third mt-5 ml-5" id="profile">
                <p class="title is-1 m-3">Welcome, </p>
                <p class="m-3">
                    Name: 
                </p>
                <p class="m-3">
                    Email:
                </p>
                <p class="m-3">
                    Username:
                </p>
                <p class="m-3">
                    Account Creation Date:
                </p>
            </div>

            <div class="column is-half mt-5 ml-5" id="posts">
                <section class="tile is-ancestor is-vertical m-3">
                    <article class="tile is-child m-3 p-3 recipes">
                        <p class="title is-4 m-2">Recipe Name</p>
                        <span class="conetnt m-3">
                            This is where all the instructions for the recipe would be.
                        </span>
                    </article>
                    <article class="tile is-child m-3 p-3 recipes">
                        <p class="title is-4 m-2">Recipe Name</p>
                        <span class="content m-3">
                            This is where all the instructions for the recipe would be.
                        </span>
                    </article>
                    <article class="tile is-child m-3 p-3 recipes">
                        <p class="title is-4 m-2">Recipe Name</p>
                        <span class="content m-3">
                            This is where all the instructions for the recipe would be.
                        </span>
                    </article>
                    <article class="tile is-child m-3 p-3 recipes">
                        <p class="title is-4 m-2">Recipe Name</p>
                        <span class="content m-3">
                            This is where all the instructions for the recipe would be.
                        </span>
                    </article>
                    <article class="tile is-child m-3 p-3 recipes">
                        <p class="title is-4 m-2">Recipe Name</p>
                        <span class="content m-3">
                            This is where all the instructions for the recipe would be.
                        </span>
                    </article>
                </section>
            </div>
        </section>
    </body>
</html>