#nav {
    background-color: #fff9c9;
    height: 130px;
}

#recipe-cards {
    background-color: #FFF393;
    height: 975px;
    border-radius: 20px;
}

.recipe-container {
    background-image: url(/public/assets/images/pastelSand.jpg);
    background-size: cover;
}

.top-recipe, .recipes {
    background-color: #fb918f;
    border-radius: 20px;
}

.search-bar {
    width: 50%;
}