#nav {
    background-color: #fff9c9;
    height: 130px;
}

#recipe-cards {
    background-color: #FFF393;
    height: 975px;
    border-radius: 20px;
}

.recipe-container, #hero, #profile-container{
    background-image: url(/assets/images/pastelSand.jpg);
    background-size: cover;
    height: 1100px;
}

#hero, #profile-container {
    height: 975px;
}

#hero-body {
    position: absolute;
    top: 35%;
}

.top-recipe, .recipes {
    background-color: #fb918f;
    border-radius: 20px;
}

.search-bar {
    width: 50%;
}

#sign-up-form {
    width: 25%;
    position: absolute;
    top: 35%;
    left: 65%;

    background-color: #FFF393;
    border-radius: 20px;
}

#profile, #posts {
    background-color: #FFF393;
    border-radius: 20px;
}